/* Mobile breakpoints */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

* {
  font-family: 'Rajdhani', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  padding: 50px 0;
  margin: 0px auto;
  background-color: white;
}

h1 {
  font-weight: 400;
  font-size: 50px;
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  padding: 20px 0;
  margin: 0;
}

h3 {
  font-weight: 400;
  font-size: 30px;
}

h4 {
  font-weight: 500;
  font-size: 35px;
  color: white;
  text-shadow: -1px -1px 33px #000, 0px -1px 33px #000, 1px -1px 33px #000, -1px 0px 33px #000, 1px 0px 33px #000, -1px 1px 33px #000, 0px 1px 33px #000, 1px 1px 33px #000;
}

span {
  font-size: 20px;
}

body {
  width: 100%;
  background-color: 000000;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main-header {
  width: 100%;
  text-align: center;
}

.main-header .container {
  height: 800px;
}

.main-header .header {
  width: 100%;
  background-color: white;
  padding: 50px;
}

.main-header .header .text-header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.main-header .header .text-header h1 {
  margin-top: 0;
  font-weight: 400;
}

.main-header .header .text-header span {
  color: #08456b;
}

@media all and (max-width: 480px) {
  .main-header .header {
    padding-left: 0;
    padding-right: 0;
  }
}

.article-header {
  width: 100%;
  background-color: white;
  padding-bottom: 50px;
}

.article-header .text-header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#categories {
  background-color: #f0f0f0;
}

#categories .flex {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

#categories .flex .item {
  flex-basis: 24%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  text-decoration: none;
  transition: all 0.3s;
}

#categories .flex .item:visited {
  color: white;
}

#categories .flex .item:hover {
  opacity: 0.8;
}

#categories .flex .item1 {
  background-image: url("../img/guitar.jpg");
}

#categories .flex .item2 {
  background-image: url("../img/bass.jpg");
}

#categories .flex .item3 {
  background-image: url("../img/keyboard.jpg");
}

#categories .flex .item4 {
  background-image: url("../img/drums.jpg");
}

#categories .flex .item5 {
  background-image: url("../img/console.jpg");
}

#categories .flex .item6 {
  background-image: url("../img/light.jpg");
}

#categories .flex .item7 {
  background-image: url("../img/amp.jpg");
}

#categories .flex .item8 {
  background-image: url("../img/microphone.jpg");
}

#categories .flex .title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 768px) {
  #categories .flex {
    width: 95%;
  }
  #categories .flex .item {
    flex-basis: 49%;
  }
  #categories .flex .item h4 {
    font-size: 20px;
  }
}

@media all and (max-width: 480px) {
  #categories .flex {
    width: 95%;
  }
  #categories .flex .item {
    flex-basis: 100%;
  }
}

.article-header h1 {
  padding-top: 30px;
}

.post-container {
  width: 100%;
  padding: 30px 0;
  background-color: white;
}

.post-container .post {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.post-container .post .content {
  padding: 30px 0 0 0;
}

.post-container .post .content ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
}

@media all and (max-width: 480px) {
  .post-container .post {
    width: 95%;
  }
}

#latest-posts {
  padding-bottom: 0;
}

#latest-posts h1 {
  text-align: center;
}

#contact {
  background-color: #f0f0f0;
}

#contact .contact {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  background-color: #f0f0f0;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
  width: 100%;
}

footer .socjal {
  width: 217px;
  margin: 10px;
  height: 142px;
}

footer .socjal a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

footer .socjal .socjallink {
  color: white;
  font-size: 50px;
}

footer .yt {
  background-color: #b94348;
}

footer .yt:hover {
  background-color: #a83237;
}

footer .fb {
  background-color: #4668b3;
}

footer .fb:hover {
  background-color: #3557a2;
}

footer .gplus {
  background-color: #d95333;
}

footer .gplus:hover {
  background-color: #c84222;
}

footer .tw {
  background-color: #3095d3;
}

footer .tw:hover {
  background-color: #2084c2;
}

/*  %btn {
    border-radius: 30px;
    border: none;
    padding: 10px 40px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    transition: all 0.2s;

    @media (max-width: $medium) {
        font-size: 13px;
    }
}

.btn-primary {
    @extend %btn;
    background-color: $primary-color;

    &:hover {
        background-color: lightgreen;
    }
}

.btn-secondary {
    @extend %btn;
    background-color: rgb(231, 40, 40);

    &:hover {
        background-color: rgb(228, 86, 86);
    }
} */
.slider {
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.slider .arrow {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.slider .arrow i {
  font-size: 50px;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
  text-shadow: 0 0 30px #000000, 0 0 30px #000000;
}

.slider .arrow .unactive {
  display: none;
}

@media all and (max-width: 768px) {
  .slider {
    width: 100%;
    height: 400px;
  }
}

@media all and (max-width: 480px) {
  .slider {
    height: 200px;
  }
}
/*# sourceMappingURL=style.css.map */