* {
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    padding: 50px 0;
    margin: 0px auto;
    background-color: white;
}

h1 {
    font-weight: 400;
    font-size: 50px;
    margin-top: 0;
}

h2 {
    font-weight: 400;
    font-size: 40px;
    padding: 20px 0;
    margin: 0;
}

h3 {
    font-weight: 400;
    font-size: 30px;
}

h4 {
    font-weight: 500;
    font-size: 35px;
    color: white;
    text-shadow: 
        -1px -1px 33px #000,
        0px -1px 33px #000,
        1px -1px 33px #000,
        -1px  0px 33px #000,
        1px  0px 33px #000,
        -1px  1px 33px #000,
        0px  1px 33px #000,
        1px  1px 33px #000,
}

span {
    font-size: 20px;
}